@import '../../scss/variables';

.main {
   display: flex;
   flex: 1;
   position: relative;
   padding-top: $height-header;
   overflow: hidden;

   &__wrapper {
      flex: 1;
      display: flex;
      overflow-y: auto;
   }

   .pages-wrapper {
      flex: 1;
      display: flex;
      padding: 32px;

      @media(max-width: 768px) {
         padding: 24px 16px;
      }
   }
}