
.hamburger {
   width: 30px;
   height: 20px;
   display: block;
   position: relative;
   border: 0;
   outline: none;
   background: transparent;

   &::after,
   &::before {
      content: '';
      height: 2px;
      width: 100%;
      position: absolute;
      left: 0;
      background-color: #fff;
      transition: all .3s ease 0s;
   }

   &::after {
      top: 0;
   }

   &::before {
      bottom: 0;
   } 

   &.active::after {
      transform: rotate(45deg);
      top: 9px;
   }

   &.active::before {
      transform: rotate(-45deg);
      bottom: 9px;
   }

   span {
      width: 100%;
      height: 2px;
      position: absolute;
      top: 9px;
      left: 0;
      background-color: #fff;
      transition: all .3s ease 0s;
   }

   &.active {
      span {
         transform: scale(0);
      }
   }
}