@import '../../scss/variables';

.page-home {
   flex: 1;
   display: flex;
   flex-direction: column;

   &__wrapper {
   }

   &__container__title {
      margin-bottom: 16px;
   }

   &__title, 
   &__subtitle {
      padding: 0;
      margin: 0;
      color: $text-color;
      font-family: 'Montserrat';
      font-style: normal;
   }

   &__title {
      font-weight: 700;
      font-size: 26px;
      line-height: 32px;
   }

   &__container__subtitle {
      margin-bottom: 24px;
   }

   &__subtitle {
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;
   }

   .content-home {
      margin-top: 32px;

      &__text {
         font-family: 'Montserrat';
         font-style: normal;
         font-weight: 500;
         font-size: 20px;
         line-height: 24px;
         color: #000000;

         p {
            margin-bottom: 20px;
         }
      }
   }
}