@import '../../../scss/variables';


.item-navigation {
   transition: 0.18s background-color;
   cursor: pointer;
   position: relative;
   color: $text-color;
   
   &__body {
      display: flex;
      align-items: center;
      padding: 10px 20px 10px 32px;
      text-decoration: none;
      color: $text-color;

      &:hover {
         background-color: $hover-item-menu-color;
      }
   
      &:active {
         background-color: $active-item-menu-color;
         color: $text-color;
      }
   }


   &__icon {
      margin-right: 16px;

      svg {
         width: 32px;
         height: 32px;
      }
   }

   &__label {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 24px;
      margin-right: auto;
   }

   &__arrow-open {
      transform: rotate(180deg);
     transition: transform  .2s;
   }

   &__arrow-open.open {
      transform: rotate(0deg);
   }

   &__container-subitems {
      padding: 0;
      
      .item-navigation.sub-item {
         
         .item-navigation__body {
            padding-left: 64px;
         }
      }
   }
}
