@import '../../../scss/variables';

.button {
   outline: none;
   border: none;
   border-radius: 10px;
   background-color: $primary-color;
   display: flex;
   align-items: center;
   padding: 7px 24px;
   cursor: pointer;
   transition: .2s background-color;

   &:hover {
      background-color: #4f27bfe3;
   }

   &:active {
      background-color: #4623aa;
   }
   
   &__icon {
      margin-right: 12px;
      display: flex;

   }

   &__icon,
   &__icon.loader {
      svg {
         width: 32px;
         height: 32px;

         * {
            color: #fff;
            fill: #fff;
         }
      }
   }

   &__icon.loader {
      animation: spin 2s linear infinite;
   }

   @-moz-keyframes spin { 
      100% { -moz-transform: rotate(360deg); } 
   }
   @-webkit-keyframes spin { 
      100% { -webkit-transform: rotate(360deg); } 
   }
   @keyframes spin { 
      100% { 
         -webkit-transform: rotate(360deg); 
         transform:rotate(360deg); 
      } 
   }

   &__content {
      color: #fff;
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 700;
      font-size: 26px;
      line-height: 32px;
   }
}
