@import '../../scss/variables';

.navigation {
   flex: 1;
   width: 300px;
   max-width: 300px;
   background: #fff;
   box-shadow: 0px 0px 5px rgba(2, 0, 96, 0.25);
   position: relative;
   overflow-y: auto;
   transition: .18s transform;

   &.open {
      transform: translateX(0);
      overflow-y: auto;
   }

   @media(max-width: 768px) {
      transform: translateX(-100%);
      position: fixed;
      top: 86px;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: 1000;
      overflow: hidden;
   }
   
   &__wrapper {
      flex: 1;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
   }
   
   &__header {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 24px;
      color: $text-color;
      padding: 24px 14px 24px 32px;
      display: flex;
      justify-content: space-between;
      align-items: center;
   }


   &__list {
      display: flex;
      flex-direction: column;
      padding: 0;
      padding-bottom: 15px;
   }

}