@import '../../scss/variables';

.header {
   height: $height-header;
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   z-index: 100;
   
   &__body {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: $primary-color;
      padding: 16px 32px;
   }

   &__block {}

   &__button-hamburger {
      margin-right: 24px;
   }

   .item-header {
      display: flex;
      align-items: center;

      &__icon {
         svg {
            width: 48px;
            height: 48px;
         }
      }

      &__icon.icon-logo {
         margin-right: 24px;
      }

      &__icon.icon-person {
         margin-right: 16px;
         @media(max-width: 480px) {
            margin-right: 0;
         }
      }

      &__text {
         font-size: 20px;
         line-height: 24px;
         font-weight: 700;
         font-family: "Montserrat";
         font-style: normal;
         color: #fff;
         text-decoration: none;
      }
      
      &__text.text-person {
         @media(max-width: 480px) {
            display: none;
         }
      }
   }
}