@import '../../../scss/variables';

.input-wrapper {
  

   .input {
      width: 100%;
      outline: none;
      border: none;
      box-sizing: border-box;
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;
      color: $text-color;
      border-radius: 10px;
      border: 3px solid $primary-color;
      background-color:  #fff;
      padding: 13px 14px;
      margin-bottom: 0;
      
      &.error {
         border-color: #eb5a46;
      }

      &::placeholder {
         font-family: 'Montserrat';
         font-style: normal;
         font-weight: 500;
         font-size: 20px;
         line-height: 24px;
         color: #6C6C6C;
         
      }
     
      &_error-message {
         color: #eb5a46;
         font-size: 14px;
      }
      
   }
}
