@import '../../scss/variables';

.page-address {
   flex: 1;
   display: flex;
   flex-direction: column;

   &__wrapper {
   }

   &__container__title {
      margin-bottom: 16px;
   }

   &__title, 
   &__subtitle {
      padding: 0;
      margin: 0;
      color: $text-color;
      font-family: 'Montserrat';
      font-style: normal;
   }

   &__title {
      font-weight: 700;
      font-size: 26px;
      line-height: 32px;
   }

   &__container__subtitle {
      margin-bottom: 24px;
   }

   &__subtitle {
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;
   }

   .form-search-address {
      display: flex;

      &__input {
         flex: 1;
         margin-right: 24px;
      }

      &__button {
         display: flex;
      }
   }

   .container-addresses {
      display: flex;
      flex-direction: column;
      margin-top: 32px;
      background: #FFFFFF;
      box-shadow: 0px 2px 8px rgba(2, 0, 97, 0.25);
      border-radius: 10px;
      padding: 8px 24px;

      &__title {
         h3 {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 700;
            font-size: 26px;
            line-height: 32px;
            color: #000;
            margin: 0;
            padding: 16px 0;
         }
      }

      .list-addresses {
         padding: 0;

         &__item {
            border-top: 1px solid #D7D7D7;
            padding: 16px 0;

            &__content {
               font-family: 'Montserrat';
               font-style: normal;
               font-weight: 500;
               font-size: 20px;
               line-height: 24px;
               color: #000;             
            }
         }

         &__empty {
            border-top: 1px solid #D7D7D7;
            padding: 16px 0;
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 24px;
            color: #000;   
         }
      }
   }
}