@import './scss/variables';
@import './scss/nulling.scss';
@import './fonts/montserrat/index.scss';

body, html {
   height: 100%;
}

body {
   margin: 0;
   font-size: 14px;
   font-weight: 400;
   line-height: 20px;
   position: relative;
}

#root {
   height: 100%;
   display: flex;
   flex-direction: column;
}

.wrapper {
   display: flex;
   flex-direction: column;
   flex: 1;
}

ul, ul[class]{
   list-style: none;
   margin: 0;
}

* {
   scrollbar-width: thin;
   scrollbar-color: $primary-color;

   &::-webkit-scrollbar {
      width: 6px;
   }

   &::-webkit-scrollbar-button {
      height: 100%;
      width: 6px;
   }

   &::-webkit-scrollbar-track {
      background: #fff;
      border-radius: 5px;
   }
   
   &::-webkit-scrollbar-thumb {
      background-color: $primary-color;
      border-radius: 5px;
   }
}

      
